<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967665726802-n35ds6itpb5r2kkdja7mqtsouv1302ok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967665726802-n35ds6itpb5r2kkdja7mqtsouv1302ok</string>
	<key>API_KEY</key>
	<string>AIzaSyCNibnFjviqeIRI-YeGRash5BuCZCIR2TM</string>
	<key>GCM_SENDER_ID</key>
	<string>967665726802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>k.sakiyama.sampleswiftpmmultimodule.com.SampleSwiftPMMultiModule</string>
	<key>PROJECT_ID</key>
	<string>sampleswiftpmmultimodule</string>
	<key>STORAGE_BUCKET</key>
	<string>sampleswiftpmmultimodule.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967665726802:ios:5947f91d8d5a9afdee768b</string>
</dict>
</plist>