<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917959174141-p59frfqa737jestvkcmkdq197qm919i0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917959174141-p59frfqa737jestvkcmkdq197qm919i0</string>
	<key>API_KEY</key>
	<string>AIzaSyAhhRDryVJxnkdyWE6KXgtwoNuE2aIlzWg</string>
	<key>GCM_SENDER_ID</key>
	<string>917959174141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>k.sakiyama.sampleswiftpmmultimodule.debug.com.SampleSwiftPMMultiModuleDebug</string>
	<key>PROJECT_ID</key>
	<string>sampleswiftpmmultimoduledebug</string>
	<key>STORAGE_BUCKET</key>
	<string>sampleswiftpmmultimoduledebug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917959174141:ios:d643b28b71b91febeb5b94</string>
</dict>
</plist>